@use "sass:map";
@use "sass:math";
@use "utils";

$breakpoint: (
  "tablet": 40em,
  "desktop": 64em,
);

@mixin breakpoint($key) {
  @media (min-width: map.get($breakpoint, $key)) {
    @content;
  }
}

// Neutral
$color-neutral-900: hsl(243 96% 9%);
$color-neutral-800: hsl(243 27% 20%);
$color-neutral-700: hsl(243 23% 24%);
$color-neutral-600: hsl(243 23% 30%);
$color-neutral-300: hsl(240 6% 70%);
$color-neutral-200: hsl(250 6% 84%);
$color-neutral-0: hsl(0 0% 100%);
// Orange
$color-orange-500: hsl(28 100% 52%);
// Blue
$color-blue-500: hsl(233 67% 56%);
$color-blue-700: hsl(248 70% 36%);

$font-dm-sans: "DM Sans Variable", sans-serif;
$font-bricolage-grotesque: "Bricolage Grotesque Variable", sans-serif;

@mixin text-preset-1() {
  font-family: $font-dm-sans;
  font-size: utils.rem(96);
  font-weight: 600;
  font-style: italic;
  line-height: 1;
  letter-spacing: -1 * utils.rem(2);
}
@mixin text-preset-2() {
  font-family: $font-bricolage-grotesque;
  font-size: utils.rem(52);
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-3() {
  font-family: $font-dm-sans;
  font-size: utils.rem(32);
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0px;
}
@mixin text-preset-4() {
  font-family: $font-dm-sans;
  font-size: utils.rem(28);
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-5() {
  font-family: $font-dm-sans;
  font-size: utils.rem(20);
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-5--medium() {
  font-family: $font-dm-sans;
  font-size: utils.rem(20);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-6() {
  font-family: $font-dm-sans;
  font-size: utils.rem(18);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-7() {
  font-family: $font-dm-sans;
  font-size: utils.rem(16);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-8() {
  font-family: $font-dm-sans;
  font-size: utils.rem(14);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}

$spacing: (
  "0": utils.rem(0),
  "025": utils.rem(2),
  "050": utils.rem(4),
  "075": utils.rem(6),
  "100": utils.rem(8),
  "125": utils.rem(10),
  "150": utils.rem(12),
  "200": utils.rem(16),
  "250": utils.rem(20),
  "300": utils.rem(24),
  "400": utils.rem(32),
  "500": utils.rem(40),
  "600": utils.rem(48),
  "800": utils.rem(64),
  "1000": utils.rem(80),
  "1200": utils.rem(96),
  "1400": utils.rem(112),
  "1600": utils.rem(128),
  "1800": utils.rem(140),
);

@function spacing($key) {
  @return map.get($spacing, "#{$key}");
}

$radius: (
  "0": utils.rem(0),
  "4": utils.rem(4),
  "6": utils.rem(6),
  "8": utils.rem(8),
  "10": utils.rem(10),
  "12": utils.rem(12),
  "16": utils.rem(16),
  "20": utils.rem(20),
  "24": utils.rem(24),
  "full": utils.rem(999),
);

@function radius($key) {
  @return map.get($radius, "#{$key}");
}

// Tailwind transitions
@mixin transition($properties) {
  transition-property: $properties;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@mixin pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

$outline-width: 2;
$outline-offset: 3;

@mixin outline-base {
  outline: utils.rem($outline-width) solid;
  outline-offset: utils.rem($outline-offset);
}

@mixin outline {
  --_outline-offset: var(--outline-offset, #{utils.rem($outline-offset)});

  outline: none;
  box-shadow:
    utils.rem(0) utils.rem(0) utils.rem(0) var(--_outline-offset)
      var(--outline-inner-color),
    utils.rem(0) utils.rem(0) utils.rem(0)
      calc(
        var(--_outline-offset) +
          var(--outline-width, #{utils.rem($outline-width)})
      )
      var(--outline-outer-color, currentColor);

  @include utils.forced-colors {
    @include outline-base;
  }
}

@mixin shadow {
  box-shadow: 0 utils.rem(8) utils.rem(16) hsl(241 96% 9% / 32%);
}
