@use "reset";
@use "tokens";
@use "utils";

$border-width: utils.rem(1);

body {
  --center-size: #{utils.rem(1216)};

  padding: tokens.spacing(200);
  padding-block-end: tokens.spacing(600);
  background: tokens.$color-neutral-900;
  color: tokens.$color-neutral-0;
  color-scheme: dark;

  @include tokens.text-preset-6();

  @include tokens.breakpoint("tablet") {
    padding: tokens.spacing(300);
    padding-block-end: tokens.spacing(1000);
  }

  @include tokens.breakpoint("desktop") {
    padding-top: tokens.spacing(600);
  }
}

:focus-visible {
  @include tokens.outline-base;
}

.center {
  display: grid;
  grid-template-columns:
    minmax(var(--center-gutter, #{tokens.spacing(0)}), 1fr) minmax(
      auto,
      var(--center-size)
    )
    minmax(var(--center-gutter, #{tokens.spacing(0)}), 1fr);
}

.center > * {
  grid-column-start: 2;
}

.cluster {
  display: flex;
  justify-content: var(--cluster-justify);
  align-items: center;
  flex-wrap: wrap;
  gap: var(--cluster-gap, #{tokens.spacing(200)});
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-size), 100%), 1fr)
  );
  gap: var(--grid-space);
}

.stack {
  display: grid;
  gap: var(--stack-space);
}

.header {
  --cluster-justify: space-between;
}

.units-button {
  --outline-inner-color: #{tokens.$color-neutral-900};
  --outline-outer-color: #{tokens.$color-neutral-0};

  border: $border-width solid transparent;
  border-radius: tokens.radius(12);
  outline: none;
  padding: (tokens.spacing(150) - $border-width)
    (tokens.spacing(200) - $border-width);
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: tokens.spacing(125);
  @include tokens.text-preset-7;
  background: tokens.$color-neutral-800;
  color: tokens.$color-neutral-0;
  @include tokens.transition((background-color, color));

  &[data-focus-visible] {
    @include tokens.outline;
    background: tokens.$color-neutral-700;
    color: tokens.$color-neutral-0;
  }

  &[data-hovered] {
    background: tokens.$color-neutral-700;
    color: tokens.$color-neutral-0;
  }

  .IconUnits {
    width: utils.rem(16);
    height: utils.rem(16);
  }

  .IconDropdown {
    width: utils.rem(13);
    height: utils.rem(8);
    @include tokens.transition((transform));
  }

  &[aria-expanded="true"] {
    .IconDropdown {
      transform: rotate(180deg);
    }
  }
}

.units-popover {
  @include tokens.open;
}

.units-dialog {
  --stack-space: #{tokens.spacing("050")};

  overflow: auto;
  scrollbar-width: thin;
  min-width: utils.rem(214);
  max-height: inherit;
  border: $border-width solid tokens.$color-neutral-600;
  border-radius: tokens.radius(12);
  padding: (tokens.spacing("075") - $border-width)
    (tokens.spacing(100) - $border-width);

  @include tokens.shadow;

  &__group {
    --stack-space: #{tokens.spacing(100)};
  }

  &__group-label {
    padding-block-start: utils.rem(6);
    padding-inline-start: utils.rem(8);
    @include tokens.text-preset-8;
    color: tokens.$color-neutral-300;
  }

  &__radios {
    --stack-space: #{tokens.spacing("050")};
  }
}

.dropdown-button {
  --outline-width: #{utils.rem(1)};
  --outline-offset: #{utils.rem(2)};
  --outline-inner-color: #{tokens.$color-neutral-800};
  --outline-outer-color: #{tokens.$color-neutral-0};

  border: none;
  border-radius: tokens.radius(8);
  outline: none;
  padding: tokens.spacing(125) tokens.spacing(100);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: tokens.spacing(125);
  text-align: start;
  @include tokens.text-preset-7;
  background: transparent;
  color: tokens.$color-neutral-0;
  @include tokens.transition((background-color, color));

  &[data-selected] {
    background: tokens.$color-neutral-700;
    color: tokens.$color-neutral-0;
  }

  &[data-hovered] {
    background: tokens.$color-neutral-700;
    color: tokens.$color-neutral-0;
  }

  &[data-focus-visible] {
    @include tokens.outline;
    background: tokens.$color-neutral-700;
    color: tokens.$color-neutral-0;
  }

  &__icon {
    width: utils.rem(14);
    height: utils.rem(11);
  }
}

.separator {
  border-top: utils.rem(1) solid tokens.$color-neutral-600;
}

.search {
  --center-size: #{utils.rem(656)};

  &__form {
    display: grid;
    gap: tokens.spacing(150);

    @include tokens.breakpoint("tablet") {
      grid-template-columns: 1fr auto;
      gap: tokens.spacing(200);
    }
  }
}

.weather {
  outline: none;
}

.error {
  padding-block-start: tokens.spacing(500);
  text-align: center;

  @include tokens.text-preset-5;

  &__message {
    margin-inline: auto;
    max-width: utils.rem(554);
  }

  &__button {
    margin-inline: auto;
    border: none;
    border-radius: tokens.radius(12);
    padding: tokens.spacing(150) tokens.spacing(200);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: tokens.spacing(125);
    @include tokens.text-preset-7;
    background: tokens.$color-neutral-800;
    color: tokens.$color-neutral-0;
    @include tokens.transition((background-color, color));

    &:focus-visible {
      background: tokens.$color-neutral-700;
      color: tokens.$color-neutral-0;
    }

    @include utils.hover {
      background: tokens.$color-neutral-700;
      color: tokens.$color-neutral-0;
    }

    .IconRetry {
      width: utils.rem(16);
      height: utils.rem(16);
    }
  }

  .IconError {
    width: utils.rem(42);
    height: auto;
  }
}

.empty {
  @include tokens.text-preset-4;
  text-align: center;
}

.dashboard {
  display: grid;
  gap: tokens.spacing(400);

  @include tokens.breakpoint("desktop") {
    position: relative;
    grid-template-columns: 800fr 384fr;
  }
}

.current {
  --grid-size: #{utils.rem(155)};
  --grid-space: #{tokens.spacing(200)};

  @include tokens.breakpoint("tablet") {
    --grid-space: #{tokens.spacing(250)};
  }

  @include tokens.breakpoint("desktop") {
    --grid-space: #{tokens.spacing(300)};
  }

  &__prop {
    border: $border-width solid tokens.$color-neutral-600;
    padding: tokens.spacing(250) - $border-width;
  }
}

.card {
  min-height: utils.rem(286);
  border-radius: tokens.radius(20);
  padding: tokens.spacing(300);
  display: grid;
  justify-content: center;
  align-content: center;
  gap: tokens.spacing(200);
  text-align: center;
  background: url(/images/bg-today-small.svg) center/cover
    tokens.$color-blue-700;

  &[data-placeholder] {
    position: relative;
    isolation: isolate;
    background: url(/images/bg-today-placeholder.svg) center/cover
      tokens.$color-neutral-800;
  }

  &__location-fallback {
    border-radius: tokens.radius(12);
    background: tokens.$color-neutral-300;
    color: hsl(0 0% 0% / 0%);
    @include tokens.pulse;
  }

  &__weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: tokens.spacing(250);
  }

  &__weather-icon {
    width: utils.rem(120);
    min-width: utils.rem(0);
    height: auto;

    &[data-placeholder] {
      visibility: hidden;
    }
  }

  @include tokens.breakpoint("tablet") {
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    background-image: url(/images/bg-today-large.svg);
  }
}

.daily {
  --grid-size: #{utils.rem(80)};
  --grid-space: #{tokens.spacing(200)};
  --stack-space: #{tokens.spacing(200)};
}

.day {
  border: $border-width solid tokens.$color-neutral-600;
  padding-block: tokens.spacing(200) - $border-width;
  padding-inline: tokens.spacing(125) - $border-width;

  &__icon {
    justify-self: center;
  }

  &__temperature {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}

.hourly {
  --cluster-justify: space-between;

  border: $border-width solid transparent;
  padding: tokens.spacing(300) - $border-width;

  @include tokens.breakpoint("desktop") {
    grid-column: 2;
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

.hours {
  display: flex;
  flex-direction: column;
  gap: tokens.spacing(200);

  &[data-scrollable="true"] {
    $padding-inline: tokens.spacing(300);

    --hours-scrollbar-width: #{utils.rem(4)};

    overflow-y: auto;
    margin-inline: -#{$padding-inline};
    padding-inline: $padding-inline
      calc($padding-inline - var(--hours-scrollbar-width));

    &::-webkit-scrollbar {
      width: var(--hours-scrollbar-width);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: utils.rem(1) solid tokens.$color-neutral-600;
      border-radius: tokens.radius(full);
      background: tokens.$color-neutral-700;
    }

    // E.g. Firefox
    @supports not selector(::-webkit-scrollbar) {
      // Assume Firefox `thin` scrollbar is `8px`
      --hours-scrollbar-width: #{utils.rem(8)};

      scrollbar-color: tokens.$color-neutral-700 transparent;
      scrollbar-width: thin;
    }
  }

  &__item {
    border: $border-width solid tokens.$color-neutral-600;
    padding: (tokens.spacing(125) - $border-width)
      (tokens.spacing(200) - $border-width)
      (tokens.spacing(125) - $border-width)
      (tokens.spacing(150) - $border-width);

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: tokens.spacing(100);

    & > :nth-child(2) {
      order: -1;
    }
  }
}

.primary-button {
  --outline-inner-color: #{tokens.$color-neutral-900};
  --outline-outer-color: #{tokens.$color-blue-500};

  border: $border-width solid transparent;
  border-radius: tokens.radius(12);
  padding: (tokens.spacing(200) - $border-width)
    (tokens.spacing(300) - $border-width);
  @include tokens.text-preset-5--medium();
  background: tokens.$color-blue-500;
  color: tokens.$color-neutral-0;
  @include tokens.transition((background-color));

  &:focus-visible {
    @include tokens.outline;
  }

  @include utils.hover {
    background: tokens.$color-blue-700;
  }
}

.search-combobox {
  &__popover {
    @include tokens.open;
    @include tokens.text-preset-7;

    .react-aria-ListBox {
      overflow: auto;
      scrollbar-width: thin;
      width: var(--trigger-width);
      max-height: inherit;
      border: $border-width solid tokens.$color-neutral-700;
      border-radius: tokens.radius(12);
      padding: tokens.spacing(100) - $border-width;
      background: tokens.$color-neutral-800;
      color: tokens.$color-neutral-0;
    }

    .react-aria-ListBoxItem {
      border-radius: tokens.radius(8);
      padding: tokens.spacing(125) tokens.spacing(100);

      &[data-focused] {
        border: $border-width solid tokens.$color-neutral-600;
        padding: calc(tokens.spacing(125) - $border-width)
          calc(tokens.spacing(100) - $border-width);
        background: tokens.$color-neutral-700;
        color: tokens.$color-neutral-0;
      }
    }
  }

  &__empty-state {
    padding: tokens.spacing(125) tokens.spacing(100);
    display: flex;
    align-items: center;
    gap: tokens.spacing(125);

    .IconLoading {
      width: utils.rem(16);
      height: utils.rem(16);
      animation: spin 1s linear infinite;
    }
  }
}

.search-input {
  position: relative;

  &__input {
    --outline-inner-color: #{tokens.$color-neutral-900};
    --outline-outer-color: #{tokens.$color-neutral-0};

    width: 100%;
    border: $border-width solid transparent;
    border-radius: tokens.radius(12);
    padding: (tokens.spacing(200) - $border-width)
      (tokens.spacing(300) - $border-width)
      (tokens.spacing(200) - $border-width) (utils.rem(60) - $border-width);
    @include tokens.text-preset-5--medium();
    background: tokens.$color-neutral-800;
    color: tokens.$color-neutral-200;
    @include tokens.transition((background-color));

    &::placeholder {
      color: inherit;
    }

    &:focus-visible {
      @include tokens.outline;
    }

    @include utils.hover {
      background: tokens.$color-neutral-700;
    }
  }

  &__icon {
    pointer-events: none;
    position: absolute;
    inset-block: 0px;
    inset-inline-start: utils.rem(24);
    margin-block: auto;
    width: utils.rem(21);
    height: utils.rem(21);
  }
}

.date-select {
  .react-aria-Button {
    border: $border-width solid transparent;
    border-radius: tokens.radius(8);
    padding: (tokens.spacing(100) - $border-width)
      (tokens.spacing(200) - $border-width);
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: tokens.spacing(150);
    @include tokens.text-preset-7;
    background: tokens.$color-neutral-600;
    color: tokens.$color-neutral-0;
    @include tokens.transition((background-color, color));

    &[data-focus-visible] {
      // Can't find in design
      background: hsl(243 23% 36%);
      color: tokens.$color-neutral-0;
    }

    &[data-hovered] {
      background: hsl(243 23% 36%);
      color: tokens.$color-neutral-0;
    }

    .IconDropdown {
      width: utils.rem(13);
      height: utils.rem(8);
      @include tokens.transition((transform));
    }

    &[aria-expanded="true"] {
      .IconDropdown {
        transform: rotate(180deg);
      }
    }
  }

  &__popover {
    @include tokens.open;

    .react-aria-ListBox {
      overflow: auto;
      scrollbar-width: thin;
      min-width: utils.rem(214);
      max-height: inherit;
      border: $border-width solid tokens.$color-neutral-600;
      border-radius: tokens.radius(12);
      padding: tokens.spacing(100) - $border-width;
      display: grid;
      gap: tokens.spacing("050");
      @include tokens.text-preset-7;
      background: tokens.$color-neutral-800;
      color: tokens.$color-neutral-0;

      @include tokens.shadow;
    }

    .react-aria-ListBoxItem {
      border-radius: tokens.radius(8);
      outline: none;
      padding: tokens.spacing(125) tokens.spacing(100);

      &[data-focused] {
        background: tokens.$color-neutral-700;
        color: tokens.$color-neutral-0;

        @include utils.forced-colors {
          @include tokens.outline-base;
        }
      }
    }
  }
}

.progress-bar {
  position: fixed;
  top: 0px;
  inset-inline: 0px;
  height: utils.rem(2);
  display: grid;
  overflow: hidden;
  pointer-events: none;

  @include utils.forced-colors {
    background: Canvas;
  }

  &__indicator {
    display: grid;
    animation:
      2s linear infinite progress,
      100ms 150ms both fade-in;

    &::before {
      content: "";
      width: 75%;
      background: tokens.$color-neutral-200;

      @include utils.forced-colors {
        background: CanvasText;
      }
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  gap: utils.rem(14);
  text-align: center;
  color: tokens.$color-neutral-200;

  &__dots {
    padding-block-start: utils.rem(4);
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    gap: tokens.spacing(125);

    @include utils.forced-colors {
      background: Canvas;
    }
  }

  &__dot {
    width: utils.rem(12);
    height: utils.rem(12);
    border-radius: tokens.radius(full);
    background: tokens.$color-neutral-0;

    @include utils.forced-colors {
      background: CanvasText;
    }
  }

  @for $i from 1 through 3 {
    &__dot:nth-child(#{$i}) {
      animation: 1s #{150ms * ($i - 1)} infinite bounce;
    }
  }
}

@each $key, $value in tokens.$spacing {
  .mt-#{$key} {
    margin-top: $value;
  }
}

@each $key, $value in tokens.$spacing {
  .p-#{$key} {
    padding: $value;
  }
}

@each $key, $value in tokens.$radius {
  .radius-#{$key} {
    border-radius: $value;
  }
}

.text-preset-1 {
  @include tokens.text-preset-1();
}
.text-preset-2 {
  @include tokens.text-preset-2();
}
.text-preset-3 {
  @include tokens.text-preset-3();
}
.text-preset-4 {
  @include tokens.text-preset-4();
}
.text-preset-5 {
  @include tokens.text-preset-5();
}
.text-preset-5--medium {
  @include tokens.text-preset-5--medium();
}
.text-preset-6 {
  @include tokens.text-preset-6();
}
.text-preset-7 {
  @include tokens.text-preset-7();
}
.text-preset-8 {
  @include tokens.text-preset-8();
}

.text-center {
  text-align: center;
}

.pulse {
  @include tokens.pulse;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.size-40 {
  width: utils.rem(40);
  height: utils.rem(40);
}
.size-60 {
  width: utils.rem(60);
  height: utils.rem(60);
}

.layer-1 {
  background: tokens.$color-neutral-800;
  color: tokens.$color-neutral-0;
}
.layer-2 {
  background: tokens.$color-neutral-700;
  color: tokens.$color-neutral-0;
}

@include tokens.breakpoint("tablet") {
  @each $key, $value in tokens.$spacing {
    .tablet\:mt-#{$key} {
      margin-top: $value;
    }
  }
}

@include tokens.breakpoint("desktop") {
  @each $key, $value in tokens.$spacing {
    .desktop\:mt-#{$key} {
      margin-top: $value;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(utils.rem(-4));
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
