@use "sass:math";

// Neutral
$color-neutral-900: hsl(243 96% 9%);
$color-neutral-800: hsl(243 27% 20%);
$color-neutral-700: hsl(243 23% 24%);
$color-neutral-600: hsl(243 23% 30%);
$color-neutral-300: hsl(240 6% 70%);
$color-neutral-200: hsl(250 6% 84%);
$color-neutral-0: hsl(0 0% 100%);
// Orange
$color-orange-500: hsl(28 100% 52%);
// Blue
$color-blue-500: hsl(233 67% 56%);
$color-blue-700: hsl(248 70% 36%);

$font-dm-sans: "DM Sans Variable", sans-serif;
$font-bricolage-grotesque: "Bricolage Grotesque Variable", sans-serif;

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

@mixin text-preset-1() {
  font-family: $font-dm-sans;
  font-size: rem(96);
  font-weight: 600;
  font-style: italic;
  line-height: 1;
  letter-spacing: -1 * rem(2);
}
@mixin text-preset-2() {
  font-family: $font-bricolage-grotesque;
  font-size: rem(52);
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-3() {
  font-family: $font-dm-sans;
  font-size: rem(32);
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0px;
}
@mixin text-preset-4() {
  font-family: $font-dm-sans;
  font-size: rem(28);
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-5() {
  font-family: $font-dm-sans;
  font-size: rem(20);
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-5--medium() {
  font-family: $font-dm-sans;
  font-size: rem(20);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-6() {
  font-family: $font-dm-sans;
  font-size: rem(18);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-7() {
  font-family: $font-dm-sans;
  font-size: rem(16);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}
@mixin text-preset-8() {
  font-family: $font-dm-sans;
  font-size: rem(14);
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
}

$spacing-0: rem(0);
$spacing-025: rem(2);
$spacing-050: rem(4);
$spacing-075: rem(6);
$spacing-100: rem(8);
$spacing-125: rem(10);
$spacing-150: rem(12);
$spacing-200: rem(16);
$spacing-250: rem(20);
$spacing-300: rem(24);
$spacing-400: rem(32);
$spacing-500: rem(40);
$spacing-600: rem(48);
$spacing-800: rem(64);
$spacing-1000: rem(80);
$spacing-1200: rem(96);
$spacing-1400: rem(112);
$spacing-1600: rem(128);
$spacing-1800: rem(140);

$radius-0: rem(0);
$radius-4: rem(4);
$radius-6: rem(6);
$radius-8: rem(8);
$radius-10: rem(10);
$radius-12: rem(12);
$radius-16: rem(16);
$radius-20: rem(20);
$radius-24: rem(24);
$radius-full: rem(999);

.text-preset-1 {
  @include text-preset-1();
}
.text-preset-2 {
  @include text-preset-2();
}
.text-preset-3 {
  @include text-preset-3();
}

.orange-square {
  width: $spacing-500;
  height: $spacing-500;
  border-radius: $radius-4;
  background: $color-orange-500;
}

body {
  background: $color-neutral-900;
  color: $color-neutral-0;
  color-scheme: dark;
}
